#heading {
  color: red;
}

#main {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10px;
  background: white;
  text-align: center;
  border: 3px dashed red;
}

#santa {
  width: 100%
}

.btn-default {
  border: 1px dashed red;
  color: black;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn {
  background: green;
  color: white;
  border: 1px solid white;
}

.btn-primary {
  background: red;
  color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  background: white;
  color: black;
  border: 1px dashed red;
}

.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

body {
  background: green;
}
